html,
body {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.nav-div {
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
}

.icon-div {
  align-items: flex-end;
}

.app-background {
  z-index: -1;
}

.center-content {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
}
